<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Main</title>
    </head>
    <body>
        <h1>main page</h1>
        <h3>welcome ! <%= email %> ! your ID is <%= id %> !</h3>

        <img src="images/flower.jpg" alt="" width="300px;">

        <div><a href="/logout">logout</a></div>
    </body>
</html>