<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Main</title>
    </head>
    <body>
        <h1>main page</h1>
        <%if (email != null) { %>
            <h3>welcome ! <%= email %> ! </h3> 
            <!-- your ID is <%= id %> ! -->
        <% } %>

        <img src="images/flower.jpg" alt="" width="300px;">

        <%if (email != null) { %>
            <div><a href="/logout">logout</a></div>
        <% } else { %>
            <div><a href="/login">login</a> / <a href="/join">join</a></div>
        <% } %>
    </body>
</html>